@CHARSET "ISO-8859-1";

@font-face{
    font-family:"ComfortaaBold";
    src:
    	url("../polices/ComfortaaBold.eot"), /* pour IE */
        url("../polices/ComfortaaBold.woff"), /* pour Firefox, Chrome*/
        url("../polices/ComfortaaBold.ttf"), /* pour Safari et Opéra*/
        url("../polices/ComfortaaBold.svg"); /* pour iPhone, iPad */
    font-weight:bold;
}

@font-face{
	font-family:"FrederickaTheGreatRegular";
	src:
		url("../polices/FrederickaTheGreatRegular.ttf");
}

/*
 *******************************************
 *                                         *
 *	  	   CONFIGURATION DE LA PAGE        *
 *                                         *
 *******************************************
 */
 
body
{
	background-color: black;
}

#page
{
	position: relative;
	width: 1024px;
	height: auto;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


/*
 *******************************************
 *                                         *
 *			CONFIGURATION DU HEADER        *
 *                                         *
 *******************************************
 */


#header
{
	position: relative;
	width: 100%;
	height: 230px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	background: #0080FF; /* Old browsers */
	background: -moz-linear-gradient(top,  #0080FF 0%, #0059B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0080FF), color-stop(100%,#0059B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* IE10+ */
	background: linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080FF', endColorstr='#0059B3',GradientType=0 ); /* IE6-9 */

}

#header h1, #header h2
{
	color: #000;
    text-shadow: 0px 10px 10px #444;
    padding: 0px;
    margin: 0px;
}

#header h1
{
	font-size: 60px;
	font-family: FrederickaTheGreatRegular;
    margin-left: 20px;
}

#header h1 a
{
	text-decoration: none;
	color: #000;
	font-weight: normal;
}

#header h2
{
	font-size: 15px;
	font-family: FrederickaTheGreatRegular;
	font-weight: normal;
	font-style: italic;
    margin-left: 60px;
}

#header #connexion
{
	float: right;
	position: relative;
	margin-top: -75px;
	margin-right: 10px;
}

#header #connexion label
{
	font-size: 10px;
	font-family: Trebuchet MS;
	font-style: italic;
	color: #D3A500;
}

#header #connexion input
{
	height: 18px;
}

#header #separator
{
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 60px;
	background-image: url("../images/pellicule.png");
	background-repeat: repeat-x;
}

#header #rechercher_film
{
	padding: 0;
	width: 190px;
	height: 23px;
	float: right;
	margin-top: -170px;
	margin-right: 10px;
}

#header #rechercher_film #recherche
{
	height: 18px;
	width: 150px;
	margin-bottom: 1px;
}

#header #rechercher_film #submitButton
{
	height: 22px;
	width: 26px;
	margin-left: -4px;
	margin-top: -3px;
	text-shadow:0px -1px 0px #000;
	background: #0080FF; /* Old browsers */
	background: -moz-linear-gradient(top,  #0080FF 0%, #0059B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0080FF), color-stop(100%,#0059B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* IE10+ */
	background: linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080FF', endColorstr='#0059B3',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:0 5px 5px 0;
   	-moz-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
	-webkit-box-shadow:0px 0px 1px #000;
	-moz-box-shadow:0px 0px 1px #000;
    box-shadow:0px 0px 1px #000;
    border-style: none;
}

#header .menu
{
	margin-top: -8px;
}

#header .menu #nav
{
	height:30px;
	padding:0 0 0 40px;
	background:#222;
	background:-moz-linear-gradient(top,#222,#111);
	background:-webkit-gradient(linear,left top,left bottom,from(#222),to(#111));
	-moz-box-shadow:0px 2px 2px #111;
	-webkit-box-shadow:0px 2px 2px #111;
	box-shadow:0px 2px 2px #111;
}

#header .menu #nav li
{
	display:inline-block;
	height:28px;
	margin-left:-3px;
	text-align:center;
	border-right:1px solid rgba(255,255,255,0.1);
	background:#222;
	background:-moz-linear-gradient(top,#222,#111);
	background:-webkit-gradient(linear,left top,left bottom,from(#222),to(#111));
}

#header .menu #nav li a
{
	font-family:"ComfortaaBold";
	display:table-cell;
	height:30px;
	padding:0px 25px;
	vertical-align:middle;
	color:#0080FF;
	text-decoration:none;
	font-size:1.2em;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}

#header .menu #nav li:hover
{
	background:#444444;
	background:-moz-linear-gradient(right,#222,#333 5%,#333 95%,#222 100%);
	background:-webkit-gradient(linear,right top,left top,from(#222),to(#222),color-stop(0.05, #333),color-stop(0.95, #333));
}

#header .menu #nav li:hover a
{
	color:#eee;
	text-shadow:1px 1px 1px black;
}

#header .menu #user_favoris
{
	float: right;
	margin-top: -42px;
	margin-right: 5px;
}

#header .menu #user_favoris a
{
	font-family:"ComfortaaBold";
	text-decoration: none;
	color: #0080FF;
	font-size: 12px;
}


/***Menu Liste des films***/

#picture
{
   float:left;
    overflow: hidden;
    position: relative;
    margin:0px;
    padding: 5px 0 5px 5px;
}

#picture img
{
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
	border-radius:8px;
}


#listeFilm
{
	margin-top : 10px;
	margin-right : 5px ;
	margin-right : 10px;
    
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
border-radius:20px;
box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 rgba(255, 255, 255, 0.5);
}

#listeFilm h3
	{
	   background: -moz-linear-gradient(, #222222, #111111) repeat scroll 0 0 transparent;
    background : #111111 ;
	background:-moz-linear-gradient(center top ,#222222,#111111);
    background:-webkit-gradient(linear, left top, left bottom, from(#222222), to(#111111));
    color : #0080FF ;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
	border-radius:20px;
	}

/*
 *******************************************
 *                                         *
 *		   CONFIGURATION DU CONTENU        *
 *                                         *
 *******************************************
 */


/*
 *			CONTENU HORS CONNEXION
 */
 
#contenu_deconnected
{
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#contenu_deconnected #banniere
{
	position: absolute;
	width: 100%;
	margin: 0px;
	margin-left: -1px;
	margin-top: -1px;
	padding: 0px;
	background: #0080FF; /* Old browsers */
	background: -moz-linear-gradient(top,  #0080FF 0%, #0059B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0080FF), color-stop(100%,#0059B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* IE10+ */
	background: linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080FF', endColorstr='#0059B3',GradientType=0 ); /* IE6-9 */
}

#contenu_deconnected #banniere h1
{
	float: left;
	margin: 0px;
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top,  #222 0%, #111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222 0%,#111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222 0%,#111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222 0%,#111 100%); /* IE10+ */
	background: linear-gradient(top,  #222 0%,#111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#111',GradientType=0 ); /* IE6-9 */
	font-family: ComfortaaBold;
	color: #0080FF;
	font-size: 20px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0 0 5px 0;
}

#contenu_deconnected article
{
	border: 1px solid #0080FF;
	height: 600px;
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
	font-family: Trebuchet MS;
	color: #0080FF;
}

#contenu_deconnected article p
{
	margin: 5px 0 0 10px;
	font-size: 20px;
}

#contenu_deconnected article ul
{
	margin: 0 0 0 10px;
	font-size: 15px;
	font-style: italic;
}

#contenu_deconnected article li
{
	
}

/*
 *				TEST DEFILEMENT JAQUETTES FILMS
 */

#contenu_deconnected article #galerie_texte
{
	width: 600px;
	overflow:hidden;	
	color: red;
	margin-left: auto;
	margin-right: auto;
}

#contenu_deconnected article #galerie_texte img
{
	width:auto !important;
	height:auto !important;
	padding-left:25px;
}


#contenu_deconnected article #galerie_texte ul
{
	width:1500px;
	-webkit-animation:art17slide 20s ease 0s infinite;
	-moz-animation:art17slide 20s ease 0s infinite;
	
}

#contenu_deconnected article #galerie_texte ul li
{
	float:left;
	width:150px;
	list-style:none;
}



@-webkit-keyframes art17slide
{
	from
	{
		margin-left:0;
	}
	10%{margin-left:-150px;}
	20%{margin-left:-300px;}
	30%{margin-left:-450px;}
	40%{margin-left:-600px;}
	50%{margin-left:-750px;}
	60%{margin-left:-900px;}
	70%{margin-left:-1050px;}
	80%{margin-left:-1200px;}
	90%{margin-left:-1350px;}
	100%{margin-left:-1500px;}
	to
	{
		margin-left:0;
	}
}


@-moz-keyframes art17slide
{
	from
	{
		margin-left:0;
	}
	10%{margin-left:-150px;}
	20%{margin-left:-300px;}
	30%{margin-left:-450px;}
	40%{margin-left:-600px;}
	50%{margin-left:-750px;}
	60%{margin-left:-900px;}
	70%{margin-left:-1050px;}
	80%{margin-left:-1200px;}
	90%{margin-left:-1350px;}
	100%{margin-left:-1500px;}
	to
	{
		margin-left:0;
	}
}

/*
 *			CONTENU ABOUT & CONTENU CONTACT
 */
  
#contenu_about, 
#contenu_contact, 
#formulaire_user_inscription,
#formulaire_connexion, 
#contenu_recherche_film,  
#contenu_film, 
#contenu_liste_users,
#gestion_user,
#response,
#content_user_favoris,
#content_stats_film
{
	position: relative;
	margin-top: 60px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	color: #111;
	padding: 10px;
	border: 1px solid #0080FF;
	border-radius: 0 10px 0 10px;
	background: #0080FF; /* Old browsers */
	background: -moz-linear-gradient(top,  #0080FF 0%, #0059B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0080FF), color-stop(100%,#0059B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* IE10+ */
	background: linear-gradient(top,  #0080FF 0%,#0059B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080FF', endColorstr='#0059B3',GradientType=0 ); /* IE6-9 */
	width: 100%;
}

#contenu_about, #contenu_contact
{
	width: 500px;
}

#contenu_about h1, #contenu_contact h1
{
	font-family: ComfortaaBold;
	text-align: center;
	margin-top: -5px;
	
}

#contenu_contact article
{	
	font-family: Trebuchet MS;
	font-size: 14px;
}

#contenu_contact article ul
{	
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#contenu_contact article ul .bold
{	
	font-weight: bolder;
}

#contenu_contact article ul li
{	
	margin-bottom: 8px;
}

#contenu_contact article .bold
{	
	font-weight: bolder;
}

#contenu_about article
{	
	font-family: Trebuchet MS;
	font-size: 14px;
}

#contenu_about article .bold_title
{	
	font-weight: bolder;
}

/*
 *			CONTENU LORS DE L'INSCRIPTION
 */

#formulaire_user_inscription
{
	width: 800px;
}

#formulaire_user_inscription h1
{
	font-family: ComfortaaBold;
	text-align: center;
	margin-top: -5px;
	
}

#formulaire_user_inscription table
{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	padding:  10px 0 10px 0;
}

#formulaire_user_inscription label
{
	font-style: italic;
	text-decoration: underline;
}

#formulaire_user_inscription #asterisque
{
	font-size: 10px;
	color: red;
	margin-left: 2px;
}

/*
 *			CONTENU LORS DE LA CONNEXION
 */
 
#formulaire_connexion
{
	width: 400px;	
}

#formulaire_connexion h1
{
	font-family: ComfortaaBold;
	text-align: center;
	margin-top: -5px;
	
}

#formulaire_connexion table
{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	padding:  10px 0 20px 0;
}

#formulaire_connexion label
{
	font-style: italic;
	text-decoration: underline;
}

#formulaire_connexion a
{
	text-decoration: none;
	color: #000;
	font-style: italic;
	font-size: 12px;
}

/*
 *			CONTENU RECHERCHE FILM
 */
 
#contenu_recherche_film
{
	width: 700px;
}
 
#contenu_recherche_film h1
{
	font-family: ComfortaaBold;
	text-align: center;
	font-size: 50px;
	margin-top: -5px;
	margin-bottom: 0;
	margin-top: 10px;
}
 
#contenu_recherche_film h2
{
	font-family: ComfortaaBold;
	font-size: 20px;
	color: #0080FF;
	text-align: justify;
	background:#222;
	padding: 4px;
	padding-right: 0;
	width: 698px;
	margin-left: -1px;
	background:-moz-linear-gradient(top,#222,#111);
	background:-webkit-gradient(linear,left top,left bottom,from(#222),to(#111));
}
 
#contenu_recherche_film .criteres_recherche
{
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: justify;
	margin-bottom: 40px;
	height: 23px;
	list-style: none;
	padding: 0;
	padding-left: 300px;
}
 
#contenu_recherche_film .criteres_recherche li
{
	float: left;
	padding: 3px 10px 3px 10px;	
	margin-right: 40px; 
	background:-moz-linear-gradient(top,#222,#111);
	background:-webkit-gradient(linear,left top,left bottom,from(#222),to(#111));
	color: #0080FF;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
	border-radius:8px;
}
 
#contenu_recherche_film #categorie_recherche 
{
	border: 3px dashed #111;
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: bolder;
	color: #111;
	text-align: center;
	margin:auto;
	padding: 10px 0 10px 0;
	width: 150px;
	font-style: italic;
}
 
#contenu_recherche_film .erreur
{
	width: 100%;
	text-align: center;
}


/***Menu Liste des films***/

#contenu_recherche_film #listeFilm,#gestion_user
{
	margin: auto;
	margin-top : 10px;
	width: 550px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
	border-radius:20px;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 rgba(255, 255, 255, 0.5);
}



#contenu_recherche_film #listeFilm #picture
{
   	float:left;
    overflow: hidden;
    position: relative;
    margin:0px;
    padding: 5px 0 5px 5px;
}

#contenu_recherche_film #listeFilm #picture img
{
	-webkit-border-radius:20px;
    -moz-border-radius:20px;
	border-radius:20px;
	height : 190px;
	width: 130px;
}

#contenu_recherche_film #listeFilm #content_info
{
	float : right;
	margin-right: 10px;
	width:400px;
	height: 200px;
}
#contenu_recherche_film #listeFilm #content_info h3
{
   	background: -moz-linear-gradient(, #222222, #111111) repeat scroll 0 0 transparent;
	background : #111111 ;
	background:-moz-linear-gradient(center top ,#222222,#111111);
    background:-webkit-gradient(linear, left top, left bottom, from(#222222), to(#111111));
    color : #0080FF ;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
	border-radius:20px;
	font-family: Trebuchet MS;
	font-size: 20px;
	padding-left: 13px;
	color: #0080FF;
	margin-top: 5px;
}

#contenu_recherche_film #listeFilm #content_info ul
{
	width: 100%;
	list-style: none;
	padding: 0;
	padding-left: 10px;
	font-family: Trebuchet MS;
}

#contenu_recherche_film #listeFilm #content_info ul li
{
	font-size: 13px;
	font-style: italic;
}

#contenu_recherche_film #listeFilm #content_info ul .bold
{
	font-weight: bolder;
	font-size: 14px;
	font-style: normal;
}

#contenu_recherche_film #listeFilm #content_info #button_film_fiche
{
   	background: -moz-linear-gradient(, #222222, #111111) repeat scroll 0 0 transparent;
	background : #111111 ;
	background:-moz-linear-gradient(center top ,#222222,#111111);
    background:-webkit-gradient(linear, left top, left bottom, from(#222222), to(#111111));
    border:0;
    padding: 2px 8px 2px 8px;
	-webkit-border-radius:20px;
    -moz-border-radius:20px;
	border-radius:20px;
	color: #0080FF;
	font-family: Trebuchet MS;
	font-weight: bolder;
	float: right;
	width: 105px;
}

#contenu_recherche_film #listeFilm #content_info #button_film_fiche:hover
{
	cursor: pointer;
}

#contenu_recherche_film #listeFilm #content_info #button_film_fiche:active
{
	
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 rgba(255, 255, 255, 0.5);
}

#contenu_recherche_film #listeFilm #content_info #button_film_fiche span
{
	float: left;
	margin-top: 2px;
	font-size: 12px;
}

#contenu_recherche_film #listeFilm #content_info #button_film_fiche .img
{
	float: right;
	background-image: url("../images/fleche_blue.png");
	width: 12px;
	height: 12px;
	margin: 0;
	margin-left: 75px;
	margin-top: -17px;
}


/*
 *			CONTENU AFFICHAGE FILM
 */
 
 #contenu_film
 { 	
	width: 700px;
 }
 
 #contenu_film #ajout_favoris button
 { 	
	background: none;
	border: 0px;
	float : right;
 cursor: pointer;
 }
 
 #contenu_film #ajout_favoris button img
 { 	
	width: 25px;
	height: 25px;
 }
 
 #contenu_film h1
 { 	
	font-family: ComfortaaBold;
	text-align: center;
	font-size: 50px;
	margin-top: -5px;
 }
 
 #contenu_film #jaq_infos
 {
 	position: relative;
 	margin: 20px;
 	margin-top: -20px;
 	height: 250px;
 }
 
 #contenu_film #jaq_infos .jaquette
 {
 	float: left;
 	width: 200px;
 	height: 100%;
 }
 
 #contenu_film #jaq_infos .jaquette img
 {
 	width: 150px;
 	height: 200px;
 	margin-left: 12.5%;
 	margin-right: 12.5%;
 	margin-top: 20px;
 }
 
 #contenu_film #jaq_infos .informations
 {
 	margin-left: 200px;
 	height: 80%;
 }
 
 #contenu_film #jaq_infos .informations ul
 {
 	list-style-type: none;
 	padding: 30px;
 	padding-top: 40px;
 }
 
 #contenu_film #jaq_infos .informations ul li
 {
 	font-family: Trebuchet MS;
 	font-size: 13px;
 	font-style: italic;
 	margin-bottom: 5px;
 }
 
 #contenu_film #jaq_infos .informations ul li .bold
 {
 	font-weight: bolder;
 	font-style: normal;
 	font-size: 14px;
 }
 
 #contenu_film #jaq_infos .informations ul .rating
 {
 	margin-top: 25px;
 }
 
 #contenu_film #jaq_infos .informations .film_note_val
 {
 	margin-top: 20px;
	font-family : Trebuchet MS;
	font-style: italic;
	font-size: 13px;
 }
 
 #contenu_film #jaq_infos .informations .film_note_val .bold
 {
	font-weight: bolder;
	font-size: 14px;
	text-decoration: underline;
 }
  
 #contenu_film #resume
 {
 	position: relative;
 	margin-left: 20px;
 	margin-right: 20px;
 	margin-top: -10px;
 	padding: 0;
 }
 
 #contenu_film #resume h2
 {
	font-family: ComfortaaBold;
	text-align: justify;
	text-decoration: underline;
	font-size: 25px;
 }
 
 #contenu_film #resume p
 {
 	margin-top: -10px;
	font-family: Trebuchet MS;
	text-align: justify;
	padding: 0;
	font-size: 13px;
 }
 
 

#contenu_film #button_update_fiche_film
{
   	background: -moz-linear-gradient(, #222222, #111111) repeat scroll 0 0 transparent;
	background : #111111 ;
	background:-moz-linear-gradient(center top ,#222222,#111111);
    background:-webkit-gradient(linear, left top, left bottom, from(#222222), to(#111111));
    border:0;
    padding: 2px 8px 2px 8px;
	-webkit-border-radius:20px;
    -moz-border-radius:20px;
	border-radius:20px;
	color: #0080FF;
	font-family: Trebuchet MS;
	font-weight: bolder;
	float: right;
	margin-top: -30px;
	width: 80px;
}

#contenu_film #button_update_fiche_film:hover
{
	cursor: pointer;
}

#contenu_film #button_update_fiche_film:active
{
	
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 rgba(255, 255, 255, 0.5);
}

#contenu_film #button_update_fiche_film span
{
	float: left;
	margin-top: 2px;
	font-size: 12px;
}

#contenu_film #button_update_fiche_film .img
{
	float: right;
	background-image: url("../images/fleche_blue.png");
	width: 12px;
	height: 12px;
	margin: 0;
	margin-left: 75px;
	margin-top: -17px;
} 
 
#content_user_favoris
{
	width: 700px;
}
 
#content_user_favoris h1
{
	font-family: ComfortaaBold;
	text-align: center;
	margin-top: -5px;
}
 
#content_user_favoris table tr:hover
{
	background-color: #0059B3;
}
 
#content_user_favoris table 
{
	width: 400px;
}
 
#content_user_favoris table td
{
	width: 100px;
	text-align: center;
}
 
#content_user_favoris img
{
	width: 50px;
	height: 67px;
}
 
#content_user_favoris #form_favoris button
 { 	
	background: none;
	border: 0px;
 }
 
#content_user_favoris #form_favoris button img
 { 	
	width: 25px;
	height: 25px;
 }
 
 #contenu_erreur
 {
 	margin: auto;
 	margin-top: 10px;
 	margin-bottom: 10px;
	font-family: Trebuchet MS;
	text-align: center;
	padding: 0;
	font-size: 13px;
 }
 
 #contenu_liste_users
 {
	width: 600px;
 }
 
 #contenu_liste_users h1
 {
	font-family: ComfortaaBold;
	text-align: center;
	font-size: 50px;
	margin-top: -5px;
 }
 
 #contenu_liste_users table
{
	margin:auto;
	border: 1px solid black;
	font-family: Trebuchet MS;
	border: 0;
	padding: 0;
}
 
 #contenu_liste_users table thead
{
	font-size: 13px;
	color: #0080FF;
	background:-moz-linear-gradient(top,#222,#111);
	background:-webkit-gradient(linear,left top,left bottom,from(#222),to(#111));
}
 
 #contenu_liste_users table thead th
{
	border: 0;
	margin: 0;
	padding: 2px;
}
 
 #contenu_liste_users table tbody
{
	font-size: 11px;
}
 
 #contenu_liste_users table tbody
{
	text-align: center;
}
 
 #contenu_liste_users table tbody tr:hover
{
	background-color: #0059B3;
}

#content_stats_film 
{
	width: 700px;	
}

#content_stats_film h2
{
	text-align: center;
	margin-top: -20px;
	margin-bottom: 40px;
}

#content_stats_film h2 a
{
	text-decoration: underline;
	font-family: ComfortaaBold;
	font-size: 15px;
	font-style: italic;
	color: #0080FF;
}

#content_stats_film h1, #content_stats_film p
{
	font-family: ComfortaaBold;
	text-align: center;
	margin-top: -5px;
}

#content_stats_film p
{
	font-size: 15px;
}

#content_stats_film p span
{
	font-size: 20px;
}

#gestion_compte .site_style
{
	height: 32px;
	list-style-type: none;
	padding-left: 260px;	
}

#gestion_compte .site_style li
{
	float: left;
}

#gestion_compte .site_style li button
{
	width: 35px;
	height: 35px;
	border: 0px;
	background: none;
}
 
 
/*
 *******************************************
 *                                         *
 *			CONFIGURATION DU FOOTER        *
 *                                         *
 *******************************************
 */


#footer
{
	position: relative;
	width: 100%;
	height: 80px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dashed #0080FF;
}

#footer p
{
	text-align: center;
	font-family: Arial;
	font-size: 11px;
	color: #0080FF;
}	

#footer a
{
	color: #0080FF;
	padding: 0px;
}	